apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    categories: Integration & Delivery
    certified: "false"
    containerImage: ghcr.io/kubero-dev/kubero-operator/kuberoapp:v0.0.113
    description: Kubero is a GitOps continuous delivery tool for Kubernetes.
    repository: https://github.com/kubero-dev/kubero
    support: Kubero Community
  name: kubero-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Creates a App in a Kubero Pipeline
      displayName: Kubero App
      kind: KuberoApp
      name: kuberoapps.application.kubero.dev
      version: v1alpha1
    - description: Starts the Kubero UI and API
      displayName: Kubero UI and API
      kind: Kubero
      name: kuberoes.application.kubero.dev
      version: v1alpha1
    - description: Creates a Kubero Pipeline
      displayName: Kubero Pipeline
      kind: KuberoPipeline
      name: kuberopipelines.application.kubero.dev
      version: v1alpha1
    - description: MySQL is a fast, reliable, scalable, and easy to use open source
        relational database system. Designed to handle mission-critical, heavy-load
        production applications.
      displayName: Kubero Mysql
      kind: KuberoMysql
      name: kuberomysqls.application.kubero.dev
      version: v1alpha1
    - description: PostgreSQL (Postgres) is an open source object-relational database
        known for reliability and data integrity. ACID-compliant, it supports foreign
        keys, joins, views, triggers and stored procedures.
      displayName: Kubero Postgresql
      kind: KuberoPostgresql
      name: kuberopostgresqls.application.kubero.dev
      version: v1alpha1
    - description: Redis(R) is an open source, advanced key-value store. It is often
        referred to as a data structure server since keys can contain strings, hashes,
        lists, sets and sorted sets.
      displayName: Kubero Redis
      kind: KuberoRedis
      name: kuberoredis.application.kubero.dev
      version: v1alpha1
    - description: MongoDB(R) is a relational open source NoSQL database. Easy to
        use, it stores data in JSON-like documents. Automated scalability and high-performance.
        Ideal for developing cloud native applications.
      displayName: Kubero MongoDB
      kind: KuberoMongoDB
      name: kuberomongodbs.application.kubero.dev
      version: v1alpha1
    - description: Elasticsearch is a distributed search and analytics engine. It
        is used for web search, log monitoring, and real-time analytics. Ideal for
        Big Data applications.
      displayName: Kubero Elasticsearch
      kind: KuberoElasticsearch
      name: kuberoelasticsearches.application.kubero.dev
      version: v1alpha1
    - description: Apache CouchDB is a database featuring seamless multi-master sync,
        that scales from big data to mobile, with an intuitive HTTP/JSON API and designed
        for reliability.
      displayName: Kubero CouchDB
      kind: KuberoCouchDB
      name: kuberocouchdbs.application.kubero.dev
      version: v1alpha1
    - description: Apache Kafka is a distributed streaming platform designed to build
        real-time pipelines and can be used as a message broker or as a replacement
        for a log aggregation solution for big data applications.
      displayName: Kubero Kafka
      kind: KuberoKafka
      name: kuberokafkas.application.kubero.dev
      version: v1alpha1
  description: |-
    Kubero is a Internal Developer Platform (IDP) that brings the convinience of Heroku/platform.sh/vercel/Netlify to your kubernetes cluster. Your developers should not need to worry about the underlying infrastructure and deployment. It enables you to deploy your applications with a few clicks. It also provides a API and CLI to manage your applications.

    ## Features
    - Automated GitOps deployment and Pull Request previews
    - Integrated CI/CD

    ## Supported Git Providers
    - Gitea
    - Forgejo (WIP)
    - OneDev (WIP)
    - Gogs
    - Github
    - Gitlab
    - Bitbucket

    ## Tested languages/frameworks
    Basicly everything that can be shipped in a single container. Kubero uses official images to build and run the apps. But they can be replaced or extended to fit your needs.

    - GoLang (including Hugo, gin-gonic)
    - Python (including Flask)
    - JavaScript/NodeJS
    - PHP (including Laravel)
    - Ruby (including Rails)
    - Static HTML
    - Rust (including Rocket)
  displayName: Kubero
  icon:
  - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB3aWR0aD0iMTM2bW0iCiAgIGhlaWdodD0iMTM2bW0iCiAgIHZpZXdCb3g9IjAgMCAxMzYgMTM2IgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmc0NzQ0IgogICBpbmtzY2FwZTp2ZXJzaW9uPSIxLjIuMSAoOWM2ZDQxZTQsIDIwMjItMDctMTQpIgogICBzb2RpcG9kaTpkb2NuYW1lPSJrdWJlcm8tbG9nby1oYXQtc3F1YXJlLWJvbGQuc3ZnIgogICBpbmtzY2FwZTpleHBvcnQtZmlsZW5hbWU9Imt1YmVyby1sb2dvLWhhdC1zcXVhcmUtbmVnYXRpdmUtYm9sZC5wbmciCiAgIGlua3NjYXBlOmV4cG9ydC14ZHBpPSI4MCIKICAgaW5rc2NhcGU6ZXhwb3J0LXlkcGk9IjgwIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcKICAgICBpZD0ibmFtZWR2aWV3NDc0NiIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIgogICAgIGlua3NjYXBlOnNob3dwYWdlc2hhZG93PSIyIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VjaGVja2VyYm9hcmQ9IjAiCiAgICAgaW5rc2NhcGU6ZGVza2NvbG9yPSIjZDFkMWQxIgogICAgIGlua3NjYXBlOmRvY3VtZW50LXVuaXRzPSJtbSIKICAgICBzaG93Z3JpZD0iZmFsc2UiCiAgICAgaW5rc2NhcGU6em9vbT0iMS40ODgiCiAgICAgaW5rc2NhcGU6Y3g9IjE4OS44NTIxNSIKICAgICBpbmtzY2FwZTpjeT0iMjI1LjgwNjQ1IgogICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMTM4NyIKICAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSIxMDkyIgogICAgIGlua3NjYXBlOndpbmRvdy14PSIzNjYiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjI5MiIKICAgICBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIwIgogICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImxheWVyMSIgLz4KICA8ZGVmcwogICAgIGlkPSJkZWZzNDc0MSIgLz4KICA8ZwogICAgIGlua3NjYXBlOmxhYmVsPSJFYmVuZSAxIgogICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiCiAgICAgaWQ9ImxheWVyMSI+CiAgICA8cGF0aAogICAgICAgc3R5bGU9ImRpc3BsYXk6aW5saW5lO2ZpbGw6Izc0NzNiZjtmaWxsLW9wYWNpdHk6MTtzdHJva2U6Izc0NzNiZjtzdHJva2Utd2lkdGg6My45NzUyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDozLjI7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiCiAgICAgICBkPSJtIDk4LjUwODcxMyw5Ni4wMzAzNjIgYyAtMi40NDQyNywwLjc2OTIyNCAtNy42NzI0ODIsMS41NDczNzkgLTExLjczODIyMiwxLjc0NzEyNyAtOC42OTkyODYsMC40MjczNzMgLTE1LjEwMDMwNywtMC42NzE0NyAtMzEuOTA5NjEyLC01LjQ3NzkxMSAtMTUuMjQyMzQyLC00LjM1ODQwOCAtMjIuNTExNjQ2LC01LjgxNDE5MyAtMjcuNjMwNjQ1LC01LjUzMzUzNSAtNi44MDg2NjYsMC4zNzMzNDUgLTcuMjQ2MDU0LDMuNzkxMjM4IC0wLjc1ODUzOSw1LjkyNzYwMiAxLjI4NjI5NCwwLjQyMzU4OSA2LjQ5MzYxLDAuOTk5NTA2IDExLjU3MTgwNywxLjI3OTc2IGwgOS4yMzMwNjcsMC41MDk2MjIgLTQuMjg2NzksMC45Nzk2NzIgYyAtNS4xNTA4NzYsMS4xNzcxNTkgLTE1LjIxMTYxMiwxLjU4OTEyNCAtMTguNjExNjAzLDAuNzYyMDk2IC0zLjczNjY1LC0wLjkwODkxNSAtNi40NDk1ODQsLTMuODg1ODY2IC02LjQ0OTU4NCwtNy4wNzcxOTEgMCwtMy40MDk5MDggMC45MTAxODksLTUuMjY5OTExIDMuMjYwMjY4LC02LjY2MjQ4NyA1LjA5NjQ2NiwtMy4wMTk5NjMgMTQuOTQ5NjMsLTEuOTI2OTQyIDM2Ljc5OTMzOSw0LjA4MjE3NyAxOC43NzE3MDgsNS4xNjI2MTkgMjEuNDA3NjYsNS41OTg5NzIgMzEuMDk2NDEsNS4xNDc4NDggNi45OTQ3MjcsLTAuMzI1NzAzIDkuMzAxMzgsLTAuNzY0MjkgMTQuNTMyODYxLC0yLjc2MzMyNCA3LjQ1MzAxLC0yLjg0Nzk2MiAxMi4xOTM1OCwtNS44Mzk1MTMgMTYuMDM3ODksLTEwLjEyMDgwNCAyLjcxMTg3LC0zLjAyMDE2IDUuNDE5MzYsLTguMTE4OTM4IDcuMDE1NiwtMTIuNDg2ODI5IDAuMTUyMTQsLTAuNDE2MjYyIDEuMDc5OCwtMS4xNDY5NDkgLTMuOTQzMDgsMS4zNTc0NDIgLTYuNjU4MiwzLjMxOTcxNyAtMTQuNzcwMzIsNC44NTYyODEgLTI3LjIzNDk5MSw0LjMxMTQ2OCBDIDgzLjkzMzEzMyw3MS41MDc4NzEgNzguMTQ0NjYsNzAuMzg5OTk3IDYyLjA4MTEzNCw2NS41NjA4MzQgMjkuNDM4ODIxLDU1Ljc0NzU2OSAxNC43MTk3NDMsNTUuNjEzNDYzIDcuNDc4OTM4LDY1LjA2MzM2MiBjIC0yLjY1ODQ4OTQsMy40Njk1NiAtMi42OTYzNzgzLDIuNDA4NDc3IC0wLjA2MDYyMiwtMS42OTg0MTcgMS4zNTY0NTI0LC0yLjExMzU4MSAzLjM2MTAwMiwtMy44OTU4MzUgNi4xMDA0MTUsLTUuNDIzOTE1IDEwLjA5MzY0NywtNS42MzAzODMgMjUuMTYwNjExLC00Ljg4MTQ2NCA1Mi44ODM0OTMsMi42Mjg2NTIgOC4zNzYxMTQsMi4yNjkwNzkgMjEuNDk0OTQzLDUuMDQzNzQ4IDIxLjg3NzM0NCw0LjYyNzE1NCAwLjEwNzcwNiwtMC4xMTc0NDEgLTQuOTkxOTY3LC0xMC41MDMxMzEgLTExLjQ2NzE5OSwtMjMuMzUzNTIzIC0yLjg0MDQwOCwtNS42MzY5MDMgLTMuMDQxNjk4LC01Ljg1NTgxNCAtNS4zNjE2OCwtNS44MzA0MyAtMS4zMjU3NTgsMC4wMTMzNSAtNC42MzYzMDcsMC40ODQ5OTYgLTcuMzU2NzQ4LDEuMDQ1NTEzIEMgNTIuOTQ2ODE0LDM5LjM1NTE5IDUwLjkxNjE1LDQwLjcyMzgxMiA0OC44NTI5OCw0Ny4zMzA1MDcgbCAtMS4yOTU0MTEsNC4xNDgxOCAwLjIyMDA0NCwtNS4wOTI5MjEgYyAwLjI3OTI3NCwtNi40NjM3MDYgMS41MTc2MzQsLTguNTAyNzY1IDcuMTA5NjQzLC0xMS43MDY1MDQgOC4yMjU5NjMsLTQuNzEyNzg4IDE5LjYyNzg5MywtNi4zOTk4NjIgMjIuMzI5NjM2LC0zLjMwMzk4IDMuMTI0OTEsMy41ODA4MTIgNy43Njc1NDMsMTUuNjkzMDMxIDEwLjYzODU1NCwyNy43NTUyMTQgbCAxLjQ2MTUxNyw2LjE0MDM2NCAzLjM4MTUwNywwLjQ2NTU2NyBjIDExLjcxMDI3LDEuNjEyMzE3IDI3LjM1OTE1LC0wLjkxNCAzMS4yNzMwMywtNS4wNDg2NzQgNC45NzIyOCwtNS4yNTI3OCAtMi45ODY0MywtOC43MzI1NTQgLTI0LjI4MjE1MywtMTAuNjE2ODEgTCA4OC44MjUzOTgsNDkuMTA5NzM0IDk1Ljk5OTAzLDQ4LjQ5NzAxOCBjIDguMzk4NTMsLTAuNzE3MzQ2IDIyLjc4OTk2LC0wLjE0ODA0NiAyNi4yMDg5NSwxLjAzNzAyOCA2LjAwMjM0LDIuMDgwMjQ2IDguODQ1NzQsNi4zMzcxNSA3LjI0ODI3LDEwLjg1MTQ1OCAtMC40NzI3MSwxLjMzNTkxNyAtMS41MjU2Miw1LjEwOTQ4OSAtMi42NTczNSw4LjI0NjE2IC0yLjk5NDEzLDguMjk4NDI1IC01LjM5MDQ4LDEzLjMzNjA4OCAtOS4yODc1OSwxOC4wMzI2NDIgLTAuOTM1OTYsMS4xMjc5NTIgLTIuMzIxMzQsMi44NjAwNzEgLTUuNzUzNzEsNC44MDMzMTQgLTcuNzgsMy42OTQ0MTkgLTkuOTIwNjgsMy43NjgyMTEgLTEzLjI0ODg4Nyw0LjU2Mjc0MiB6IgogICAgICAgaWQ9InBhdGgxNjYtNS04IgogICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJjc3Nzc3Njc3Nzc3Nzc3Nzc3Nzc3Nzc3NzY3NzY3Nzc3Njc3NzY3Njc3NzY2MiCiAgICAgICBpbmtzY2FwZTpsYWJlbD0iaGF0IiAvPgogIDwvZz4KPC9zdmc+Cg==
    mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - gitops
  - devops
  - workflow
  links:
  - name: Kubero Operator
    url: https://github.com/kubero-dev/kubero-operator
  - name: Kubero UI
    url: https://github.com/kubero-dev/kubero
  maintainers:
  - email: gicara+kubero@gmail.com
    name: Gianni Carafa
  maturity: alpha
  provider:
    name: kubero
    url: https://github.com/kubero-dev/
  version: 0.0.0
