apiVersion: v1
kind: Secret
metadata:
  name: kubero-secrets
type: Opaque
stringData:
    KUBERO_WEBHOOK_SECRET: "mysecret_MAKE_IT_LONG"
    KUBERO_USERS:
    KUBERO_SESSION_KEY:
    KUBECONFIG_BASE64:
    GITHUB_CLIENT_SECRET:
    GITHUB_PERSONAL_ACCESS_TOKEN:
    GITEA_PERSONAL_ACCESS_TOKEN:
    GITEA_BASEURL:
    GITLAB_PERSONAL_ACCESS_TOKEN:
    GITLAB_BASEURL:
    GOGS_PERSONAL_ACCESS_TOKEN:
    GOGS_BASEURL:
    BITBUCKET_USERNAME:
    BITBUCKET_APP_PASSWORD:
    GITHUB_CLIENT_SECRET:
    OAUTH2_CLIENT_SECRET:
