apiVersion: v1
kind: Secret
metadata:
  name: kubero-secrets
type: Opaque
data:
    GIT_DEPLOYMENTKEY_PUBLIC: "QkFTRTY0IEVOQ09ERUQgUFVCTElDIEtFWQo="
    KUBECONFIG_BASE64: "aW5pdGlhbCBkYXRhCg=="
stringData:
    GIT_DEPLOYMENTKEY_PRIVATE_B64: "BASE64 ENCODED PRIVATE KEY"
    KUBERO_WEBHOOK_SECRET: "mysecret_MAKE_IT_LONG"
    GITHUB_PERSONAL_ACCESS_TOKEN: "ghp_pXXXXXXXXXXXXXXXXX"
    GITEA_PERSONAL_ACCESS_TOKEN: XXXXXXXXXXXXXXXXXX
    GITLAB_PERSONAL_ACCESS_TOKEN: XXXXXXXXXXXXXXXXX